@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');

.hero-circle-shape {
    z-index: -10;
    width: 200vh;
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    border-radius: 9999px;
    background: radial-gradient(#FFFFFF, #E7EFFA);
}

.bg-linear {
    background: linear-gradient(to bottom, #FFFFFF 0%, #EAF3FF 100%);
}

.bg-linear-bold {
    background: linear-gradient(to bottom, #EDF4FF 0%, #B5D2FF 100%);
}

.hero-text {
    background: linear-gradient(90deg, #9EC6FF, #2C7CEF);
    -webkit-background-clip: text;
    /* untuk Chrome, Safari */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* untuk Chrome, Safari */
    color: transparent;
    /* fallback */
}

.header-about {
    background: linear-gradient(to bottom, #07071E 80%, rgba(255, 255, 255, 0.98) 100%);
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    min-width: 200%;
    animation: marquee 20s linear infinite;
}

.leaflet-pane {
    z-index: 40 !important;
}

.leaflet-tooltip.provinsi-label {
    background: transparent;
    border: none;
    box-shadow: none;
    color: black;
    font-weight: 900;
    font-size: 8px;
    -webkit-text-stroke: 0.2px white;
}

.empty-icon {
    background: none !important;
    border: none !important;
}